:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #f5e2f4;
  --color-orange: #ffb039;
  --color-black: #000000;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 20px;
  --font-small: 18px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /* Animation */
  --animation-duration: 300ms;
}

/* Typography */

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-small);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

/* Universal tags*/
* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--color-black);
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}
/* Navbar */
#navbar {
  position: fixed;
  /* 부모 위로 나와서 너비가 100이 아니게 됨. 컨텐트 크기만큼 측정*/
  width: 100%;
  /* 무조건 위에 있어야 */
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  /* navbar 효과 주기 */
  background-color: transparent;
}

#navbar.navbar--dark {
  background-color: var(--color-dark-pink);
  padding: 8px;
  transition: all var(--animation-duration) ease-in-out;
}

.navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}
.navbar__logo a {
  color: var(--color-black);
}
.navbar__logo img {
  width: 50px;
  padding-top: 15px;
}

.navbar__menu {
  display: flex;
}

.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  /* color: var(--color-white); */
  border: 1px solid transparent;
  border-radius: var(--size-border-radius);
}

/* .navbar__menu__item.active {
  border: 1px solid var(--color-white);
} */

.navbar__menu__item:hover {
  /* border: 1px solid var(--color-white); */
  border-color: var(--color-white);
  background-color: var(--color-dark-pink);
  /* border-radius: var(--size-border-radius); */
}
/* 기존 자리에서 빠져나와 포지션 위치-absolute */
.navbar__toggle-btn {
  position: absolute;
  top: 24px;
  right: 32px;
  font-size: 24px;
  color: var();
  display: none;
}

/* Home */
#home {
  background: no-repeat url("images/home-background.png") center/cover;
  /* background-size: ; */
  padding: 70px;
  padding-top: 150px;
  text-align: center;
}

.home__contact {
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  margin: 24px;
  padding: 12px 12px;
  border: 2px solid var(--color-white);
  border-radius: var(--size-border-radius);
}
.home__contact:hover {
  background-color: var(--color-pink);
}

.home__description {
  margin: 25px 0;
}
/* Section common */
.section {
  padding: 60px;
  text-align: center;
  margin: auto;
}

.section__container {
  max-width: 1200px;
  margin: auto;
}

/* About */
.intro {
  display: inline-block;
  margin-top: 30px;
  width: 90%;
  text-align: center;
}
.major {
  width: 330px;
  /* margin: 30px; */
}

.about__majors {
  display: flex;
  justify-content: space-between;
  margin: 80px 0;
  align-items: center;
}

.major__icon {
  font-size: 70px;
  color: var(--color-blue);
  /* width: 345px; */
  /* height: 200px; */
  /* line-height: 200px; */
  margin: auto;
  /* border: 1px solid var(--color-blue); */
  /* border-radius: 50%; */
  margin-bottom: 16px;
}
/*  */
.major__icon img {
  width: 70px;
  transition: all var(--animation-duration) ease;
}

.major__icon:hover img {
  color: var(--color-pink);
  transform: rotate(-30deg) scale(1.1);
}
/*  */
.major__icon i {
  transition: all var(--animation-duration) ease;
}

.major__icon:hover i {
  color: var(--color-pink);
  transform: rotate(-30deg) scale(1.1);
}
.major__title {
  font-weight: var(--weight-bold);
  margin-bottom: 15px;
}
.major__title,
.major__description {
  color: var(--color-dark-grey);
}

.major__description {
  font-size: var(--font-small);
  margin-bottom: 10px;
}

/* school */
.about__schools {
  margin: 50px 0;
}
.school {
  display: flex;
}
.school__name {
  font-weight: var(--weight-bold);
}

.school img {
  display: flex;
  width: 50px;
  height: 50px;
  margin-top: 40px;
}
.school_description {
  margin: 24px;
  text-align: left;
}

/* Skills */
#skills {
  background-color: var(--color-yellow);
}

.skillset {
  display: flex;
  background-color: var(--color-light-grey);
  color: var(--color-light-white);
  margin: 20px 0;
}

.skillset__title {
  color: var(--color-white);
}

/* 한쪽으로 치우쳐져 있는 요소들이 크기가 작으니까 */
.skillset__left {
  flex-basis: 60%;
  background-color: var(--color-dark-grey);
  padding: 20px 40px;
}
.skillset__right {
  flex-basis: 60%;
}

.skill__description {
  display: flex;
  justify-content: space-between;
}

.skill {
  margin-bottom: 20px;
}

.skill__bar {
  width: 100%;
  height: 3px;
  background-color: var(--color-grey);
}

.skill__value {
  height: 3px;
  background-color: var(--color-orange);
}
.tools {
  background-color: var(--color-grey);
}
.tools,
.etc {
  padding: 20px;
}

.etc {
  background-color: var(--color-light-grey);
}

/* Works */
.work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10%;
  margin-top: 50px;
}

.project img {
  /* 해당 컨테이너 안에서만 커질 수 있도록 */
  max-width: 100%;
  max-height: 100%;
}

.project {
  /* 부모 컨테이너로 설정하기 위함 */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 260px;
  margin: 2px;
  background-color: var(--color-dark-white);
}
/* absolute: 원래 들어있던 박스에서 벗어나 위치를 바꾸는 것 (근접한 부모노드 중 기본값인 static을 쓰지 않는 부모를 찾아가게 됨 - 아무것도 지정 안돼있으면 body로.. 상위 부모를 relative로 지정해준다  */

.project_description {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all var(--animation-duration) ease-in;
  transform: translateY(10px);
}

.project:hover .project_description {
  opacity: 0.8;
  transform: translateY(0px);
}
.project_description span {
  color: var(--color-white);
}
.project_description h3 {
  color: var(--color-orange);
}

/* 구분선 추가하기 */
.project_description h3:after {
  content: "";
  display: block;
  position: relative;
  left: 50%;
  width: 50px;
  height: 2px;
  /* margin-left: -12px; */
  transform: translateX(-50%);
  margin-top: 8px;
  background-color: var(--color-dark-white);
}
#contact {
  background-color: var(--color-pink);
}
.contact__title,
.contact__email,
.contact__links i,
.contact__rights {
  color: var(--color-white);
}

.contact__title {
  margin: 32px 0;
}
.contact__links i {
  font-size: var(--font-large);
  margin: 24px 0;
  padding: 0 10px;
}
.contact__links i:hover {
  transform: scale(1.1);
}

/* arrow up */
.arrow-up {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 70px;
  height: 70px;
  font-size: 50px;
  background-color: var(--color-dark-pink);
  color: var(--color-white);
  border-radius: 50%;
  /* display: none; */
  opacity: 0;
  pointer-events: none;
  /* display의 경우 애니매이션 적용 x. => opacity */
  transition: opacity 300ms ease-in;
}

.arrow-up.visible {
  /* display: block; */
  opacity: 1;
  pointer-events: auto;
}
/* 반응형!! below 768px screen width */
@media screen and (max-width: 768px) {
  :root {
    /* Font size */
    /* --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 20px;
  --font-small: 18px;
  --font-micro: 14px; */
    /* Font size */
    --font-large: 35px;
    --font-medium: 22px;
    --font-regular: 19px;
    --font-small: 17px;
    --font-micro: 13px;
  }
  .navbar__logo img {
    width: 50px;
    padding-top: 15px;
  }
  .navbar__toggle-btn {
    display: block;
    top: 16px;
    bottom: 16px;
    font-size: var(--font-medium);
  }
  #navbar {
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--color-dark-pink);
  }
  .navbar__menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }

  #navbar.navbar--dark {
    padding: 16px;
  }

  .navbar__menu.open {
    display: block;
  }

  .section {
    padding: 16px;
    padding-top: 40px;
  }

  .about__majors {
    flex-direction: column;
  }
  .major {
    margin-bottom: 38px;
  }

  .skillset {
    flex-direction: column;
  }
  .project {
    flex-grow: 1;
  }
}
